# Week 4 Exercise (group): Exploratory Data Analysis on Social Media Data

- Ziyang (Melody) Chen
- Cici Qiao
- Xin Qi

## 1. Import necessary packages

In [1]:
# import necessary packages here
!pip install emoji
import emoji
import pandas as pd
import re

Collecting emoji
  Using cached emoji-2.2.0-py3-none-any.whl
Installing collected packages: emoji
Successfully installed emoji-2.2.0

## 2. Read the data

The data is called `tweets.csv` in the same folder. More information about the data see [here](https://www.kaggle.com/datasets/infamouscoder/mental-health-social-media)

The main column you will be working with is `post_text`

In [3]:
# df = 
df = pd.read_csv('tweets.csv')
df

,Unnamed: 0,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,label
0,0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,1013187241,84,211,251,837,0,1
1,1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",1013187241,84,211,251,837,1,1
2,2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,1013187241,84,211,251,837,0,1
3,3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,1013187241,84,211,251,837,2,1
4,4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,1013187241,84,211,251,837,1,1
...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,819336825231773698,Thu Jan 12 00:14:56 +0000 2017,A day without sunshine is like night.,1169875706,442,230,7,1063601,0,0
19996,19996,819334654260080640,Thu Jan 12 00:06:18 +0000 2017,"Boren's Laws: (1) When in charge, ponder. (2) ...",1169875706,442,230,7,1063601,0,0
19997,19997,819334503042871297,Thu Jan 12 00:05:42 +0000 2017,The flow chart is a most thoroughly oversold p...,1169875706,442,230,7,1063601,0,0
19998,19998,819334419374899200,Thu Jan 12 00:05:22 +0000 2017,"Ships are safe in harbor, but they were never ...",1169875706,442,230,7,1063601,0,0
19999,19999,819334270825197568,Thu Jan 12 00:04:47 +0000 2017,Black holes are where God is dividing by zero.,1169875706,442,230,7,1063601,0,0

In [4]:
# explore the data characteristic using `df.describe()` or `df.info()`
df.describe()

,Unnamed: 0,post_id,user_id,followers,friends,favourites,statuses,retweets,label
count,20000.000000,2.000000e+04,2.000000e+04,20000.000000,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000
mean,9999.500000,6.874728e+17,3.548623e+16,900.483950,782.428750,6398.235550,4.439442e+04,1437.927300,0.500000
std,5773.647028,1.708396e+17,1.606083e+17,1899.913961,1834.817945,8393.072914,1.407785e+05,15119.665118,0.500013
min,0.000000,3.555966e+09,1.472438e+07,0.000000,0.000000,0.000000,3.000000e+00,0.000000,0.000000
25%,4999.750000,5.931686e+17,3.242944e+08,177.000000,211.000000,243.000000,5.129000e+03,0.000000,0.000000
50%,9999.500000,7.637400e+17,1.052122e+09,476.000000,561.000000,2752.000000,1.325100e+04,0.000000,0.500000
75%,14999.250000,8.153124e+17,2.285923e+09,1197.000000,701.000000,8229.000000,5.289200e+04,1.000000,1.000000
max,19999.000000,8.194574e+17,7.631825e+17,28614.000000,28514.000000,39008.000000,1.063601e+06,839540.000000,1.000000

## 3. Extract emojis

Use `emoji` package to extract emojis and put them into a new column called `emojis`

In [8]:
# define the function
def extract_emojis(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               "]+", flags=re.UNICODE)
    return emoji_pattern.findall(text)

In [37]:
# apply the function to your dataframe
df['emojis'] = df['post_text'].apply(extract_emojis)
df['emojis']

0        []
1        []
2        []
3        []
4        []
         ..
19995    []
19996    []
19997    []
19998    []
19999    []
Name: emojis, Length: 20000, dtype: object

## 4. Text Cleaning using Regular Expressions 

1. Remove URLs
2. Remove mentions
3. Remove hashtags
4. Remove special characters
5. Remove extra space

Code can be found in [week 6 lecture 1](https://github.com/yibeichan/COMM160DS/blob/main/week_6/lecture_part1.ipynb) section `4.4 All-in-One`

Perform the analysis and save the results into a new column.

In [17]:
# define the function
def clean_data(text):
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)  # remove URLs
    text = re.sub(r'@\w+', '', text)  # remove mentions
    text = re.sub(r'#\w+', '', text) # remove hashtag
    text = re.sub(r'\W', ' ', text)  # remove special characters
    text = re.sub(r'\s+', ' ', text)  # remove extra spaces
    return text.strip()

In [36]:
# apply the function to your dataframe
df['clean_data'] = df['post_text'].apply(clean_data)
df['clean_data']

0        It s just over 2 years since I was diagnosed w...
1        It s Sunday I need a break so I m planning to ...
2        Awake but tired I need to sleep but my brain h...
3        RT bears make perfect gifts and are great for ...
4        It s hard to say whether packing lists are mak...
                               ...
19995                 A day without sunshine is like night
19996    Boren s Laws 1 When in charge ponder 2 When in...
19997    The flow chart is a most thoroughly oversold p...
19998    Ships are safe in harbor but they were never m...
19999        Black holes are where God is dividing by zero
Name: clean_data, Length: 20000, dtype: object

## 5. Analysis 1 (Sentiment Analysis)

Choose one analysis from (1)Sentiment Analysis, (2)N-grams and Phrase Analysis, (3)Collocation Analysis, (4)Part-of-Speech Tagging, (5)Named Entity Recognition, and (6)Dependency Parsing.

Perform the analysis and save the results into a new column.

In [40]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()
df['sentiment_scores'] = df['post_text'].apply(lambda x: sia.polarity_scores(x))
df['sentiment_scores']

0        {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1        {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
2        {'neg': 0.259, 'neu': 0.741, 'pos': 0.0, 'comp...
3        {'neg': 0.0, 'neu': 0.715, 'pos': 0.285, 'comp...
4        {'neg': 0.06, 'neu': 0.819, 'pos': 0.121, 'com...
                               ...
19995    {'neg': 0.542, 'neu': 0.458, 'pos': 0.0, 'comp...
19996    {'neg': 0.257, 'neu': 0.743, 'pos': 0.0, 'comp...
19997    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
19998    {'neg': 0.0, 'neu': 0.86, 'pos': 0.14, 'compou...
19999    {'neg': 0.0, 'neu': 0.792, 'pos': 0.208, 'comp...
Name: sentiment_scores, Length: 20000, dtype: object

## 6. Analysis 2 (N-grams and Phrase Analysis)

Choose another analysis from (1)Sentiment Analysis, (2)N-grams and Phrase Analysis, (3)Collocation Analysis, (4)Part-of-Speech Tagging, (5)Named Entity Recognition, and (6)Dependency Parsing.

Perform the analysis and save the results into a new column.

In [39]:
from nltk import ngrams
def generate_ngrams(text, n):
    tokens = text.split()
    return list(ngrams(tokens, n))

df["n_grams"] = df["post_text"].apply(lambda x: generate_ngrams(x, n=2))
df["n_grams"]

0        [(It's, just), (just, over), (over, 2), (2, ye...
1        [(It's, Sunday,), (Sunday,, I), (I, need), (ne...
2        [(Awake, but), (but, tired.), (tired., I), (I,...
3        [(RT, @SewHQ:), (@SewHQ:, #Retro), (#Retro, be...
4        [(It’s, hard), (hard, to), (to, say), (say, wh...
                               ...
19995    [(A, day), (day, without), (without, sunshine)...
19996    [(Boren's, Laws:), (Laws:, (1)), ((1), When), ...
19997    [(The, flow), (flow, chart), (chart, is), (is,...
19998    [(Ships, are), (are, safe), (safe, in), (in, h...
19999    [(Black, holes), (holes, are), (are, where), (...
Name: n_grams, Length: 20000, dtype: object

## 7. Push Your Results to GitHub

As you did in previous weeks:
1. `git status`
2. `git add`
3. `git commit -m "type your message here"`
4. `git push`

If you can't push it to GitHub, it's okay to manually uploaded it.